.general {

	margin-bottom	: 15px;
}

.form, #artistInfo {

	margin			: 7px 0 7px 0;
}

.errorSpan {

	background-color:#f2dede;
	border-color	:#eed3d7;
	color			: #b94a48;
	margin-top		: 15px;
	border-radius	: 4px;
	padding			:8px;
}

.pagination {

	padding			: 6px;

}

.center-block {

  display			: block;
  margin-left		: 10%;
  margin-right		: 10%;
  width				: 80%;
}

.loadingImg {

	background		: url('../img/ajax-loader.gif') no-repeat;
	width			: 50px;
	height			: 50px;
	margin-left		: 25%;
	margin-top		: 20px;
}

img.media-object:hover {

	cursor			: pointer;
}

.spacer {

	height			: 10px;
	clear			: both;
}

.buttonDummy {
	
	min-width		: 78px;
	min-height		: 36px;
	display			: inline-block;
}

h1 .small {

	display			: inline-block;
}

#videoCloseBtn {
	
	position		: relative;
	left			: 3px;
}

#emptyQueueBadge {
	
	cursor			: default;
	background-image: -webkit-linear-gradient(#a54caa, #9b479f 6%, #914294);
	background-image: -o-linear-gradient(#a54caa, #9b479f 6%, #914294);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a54caa), color-stop(6%, #9b479f), to(#914294));
	background-image: linear-gradient(#a54caa, #9b479f 6%, #914294);
	background-repeat: no-repeat;
	filter			: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa54caa', endColorstr='#ff914294', GradientType=0);
	-webkit-filter	: none;
	filter			: none;
	border			: 1px solid #79377c;
	font-family		: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding			: 1px 5px;
	font-size		: 12px;
	line-height		: 1.5;
	border-radius	: 3px;
	color			: #ffffff;
	background-color: #9b479f;
    border-color	: #9b479f;
	display			: inline-block;
	margin-bottom	: 0;
	font-weight		: normal;
	text-align		: center;
	vertical-align	: middle;
}

#queueDiv {
	
	margin-top		: 7px;
}

#clearQLink, #clearQLink:hover, #clearQLink:active{
	
	text-decoration	: none;
	cursor			: pointer;
	margin-left		: 3px;
}

.queuedItem {

	padding			: 2px 3px 2px 3px;
}

footer {

	position		: relative;
	clear			: both;
	text-align		: center;
	margin-top		: 10%;
}

@media screen and (max-width: 615px) {
    
	h1 small {
		display		: block;
	}

}